{embed="inc/header" category_title="{if segment_2}{segment_2}{if:else}{segment_1}{/if}"}

<div id="LeftContent">
	
	{embed="inc/print-icon"}
	
	<ul id="Crumbs">
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{site_url}" itemprop="url"><span itemprop="title">Home</span></a></li>
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}" itemprop="url"><span itemprop="title">{segment_1_category_name}</span></a></li>
		{if segment_2}
			<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}/{segment_2}" itemprop="url"><span itemprop="title">{segment_2_category_name}</span></a></li>
		{/if}
	</ul>
	
	<section>
		
		<header><h1>{segment_1_category_name}</h1></header>

		{exp:nlbaformat:full}{segment_1_category_description}{/exp:nlbaformat:full}
		
		<p>{exp:imgsizer:size src="{segment_1_category_image}" width="580" alt="{segment_1_category_name}"}{/exp:imgsizer:size}</p>
	
		<ul class="catList">
						
			{exp:query sql="SELECT DISTINCT exp_channel_titles.title as title, exp_channel_titles.url_title as url_title, exp_matrix_data.col_id_25 as url
						FROM (exp_channel_titles)
						LEFT JOIN exp_category_posts ON exp_channel_titles.entry_id = exp_category_posts.entry_id
						LEFT JOIN exp_categories ON exp_category_posts.cat_id = exp_categories.cat_id
						LEFT JOIN exp_matrix_data ON exp_channel_titles.entry_id = exp_matrix_data.entry_id
						WHERE exp_channel_titles.site_id = '1' AND exp_channel_titles.channel_id IN (4) AND exp_category_posts.cat_id = '{segment_1_category_id}' 
						 AND exp_category_posts.entry_id = exp_channel_titles.entry_id AND exp_channel_titles.status = 'Recommended' AND exp_matrix_data.col_id_25!=''	ORDER BY entry_date desc LIMIT 3"}
				
				{student-recommended}
			{/exp:query}
			
		</ul>
		
		<!-- Filters -->
		<form action="{path=ajax/getcourses}" id="CourseFinder" method="post">					
			<fieldset class="filters clearfix">
				<p>Looking for something specific? <br>Use our <a href="{path=search}">advanced search</a> option.</p>
				<label for="SelectLevel">Select your level</label>
				
				<select id="SelectLevel" name="level">
					{exp:query sql="SELECT cat_id, cat_name from exp_categories where parent_id=21"}	
					<option value="{cat_id}">{exp:nlbaformat:toupper}{cat_name}{/exp:nlbaformat:toupper}</option>
					{/exp:query}
					<option value="21">ALL</option>
				</select>							
				<input type="hidden" name="urlcat" value="students">
				<input type="submit" value="filter">
				
			</fieldset>
			
			<p class="hint"><img src="{site_url}images/site/hint.jpg" alt="Hint">FAQ. what is primary, secondary and tertiary</p>
			
			<fieldset class="courseresults">
				<ul>
					
				</ul>
			</fieldset>
					
		</form>
		<!-- / Filters -->

	</section>
		
</div>

<aside id="Sidebar">
	
	{embed="inc/sidebar"}	
	
</aside>

{embed="inc/footer"}