{embed="inc/header" {if segment_2}url_title="{segment_2}"{if:else} title="Meetups"{/if}}

<div id="main" role="main">
  
{exp:ifelse parse="inward"}	  

{if segment_2}

{exp:channel:entries channel="meetups" disable="{global-disable}"}

<h1>{title}</h1>

{summary}

{body}
{/exp:channel:entries}


{if:else}

<h1>Meetups</h1>

<ul>
{exp:channel:entries channel="meetups" disable="{global-disable}" dynamic="off"}
  <li>
    <h2><a href="{title_permalink=meetups}">{title}</a></h2>
    {summary}
  </li>
  
{/exp:channel:entries}
</ul>

{/if}

{/exp:ifelse}	

</div>




{embed="inc/footer"}