{exp:channel:entries channel="announcements" disable="{global-disable}" limit="1" status="not Closed"}
{embed="inc/header" title="{title}"}

<div id="LeftContent">
	
	{embed="inc/print-icon"}
	
	<!-- Breadcrumbs -->
	<ul id="Crumbs">
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{site_url}" itemprop="url"><span itemprop="title">Home</span></a></li>
		<li itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><a href="{path=announcements}" itemprop="url"><span itemprop="title">Announcements</span></a></li>
		{if segment_2}
		<li itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><a href="{page_url}" itemprop="url"><span itemprop="title">{title}</span></a></li>
		{/if}
	</ul>
	<!-- / Breadcrumbs -->


	<h1>{title}</h1>

	{news-body}			

</div>

<aside id="Sidebar">
</aside>

{/exp:channel:entries}

{embed="inc/footer"}