{preload_replace:channel="about"}
{exp:channel:entries channel="{channel}" disable="{global-disable}" limit="1" {if segment_2==""}entry_id="41"{/if}}

{embed="inc/header" title="{title}" description="{exp:eehive_hacksaw chars="500" allow="<br>"}{pages-body}{/exp:eehive_hacksaw}"}

<div id="LeftContent">
	
	{embed="inc/print-icon"}
	
	<!-- Breadcrumbs -->
	<ul id="Crumbs">
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{site_url}" itemprop="url"><span itemprop="title">Home</span></a></li>
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path=about}" itemprop="url"><span itemprop="title">About NLBA</span></a></li>
		{if segment_2&&entry_id!="41"}
		<li itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><a href="{title_permalink=about}" itemprop="url"><span itemprop="title">{title}</span></a></li>
		{/if}
	</ul>
	<!-- / Breadcrumbs -->
	
	<article role="main">

	<header><h1>{title}</h1></header>
	
	
	{gallery}

	{pages-body}					
	</article>
	
	
	{/exp:channel:entries}
</div>

<aside id="Sidebar">
	
	{embed="about/menu"}
	
	{testimonial-module}
	
</aside>



{embed="inc/footer"}