{embed="inc/header" {if segment_3}url_title="{segment_3}" body_class="view-trainer" {if:else}title="Trainers"{/if}}

<div id="LeftContent">
	
	{embed="inc/print-icon"}
	
	<!-- Breadcrumbs -->
	<ul id="Crumbs">
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{site_url}" itemprop="url"><span itemprop="title">Home</span></a></li>
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path=about}" itemprop="url"><span itemprop="title">About NLBA</span></a></li>
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path=about/trainers}" itemprop="url"><span itemprop="title">Trainers</span></a></li>
		{if segment_3}
		<li itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><a href="{path=about/trainers/{segment_3}}" itemprop="url"><span itemprop="title">{exp:url_title_to_title url_title="{segment_3}"}</span></a></li>
		{/if}
	</ul>
	<!-- / Breadcrumbs -->
	
	{exp:ifelse parse="inward"}
	
		{if segment_3}
		
		{exp:channel:entries channel="trainers" disable="{global-disable}" limit="1" require_entry="yes"}
		
		<article>
			<header><h1>{title}</h1></header>
			
			{exp:imgsizer:size src="{photo}" width="163" class="trainerImage" alt="{title}"}
			
			{if photo}<div class="content">{/if}
				
			
			{trainer-bio}						

			{if contact}
			<p>
				{contact}
					Phone : {phone}
					Fax : {fax}
					Email : {email}
				{/contact}
				</p>
			{/if}
			
			
			{exp:playa:parents channel="course"}
				{if count==1}<h2>Courses taught by {child:title}</h2><ul class="links">{/if}
					<li><h3><a href="{path=/}{exp:nlbaformat:getcaturl entry_id="{entry_id}"} {/exp:nlbaformat:getcaturl}view/{url_title}">{title}</a></h3></li>
				{if count==total_results}</ul>{/if}
			{/exp:playa:parents}
			
			{if photo}</div>{/if}
	</article>
			
		{/exp:channel:entries}
		
		{if:else}<!-- List all trainers -->
			
			<article>
				
			<header><h1>Trainers</h1></header>
			<p>We have a team of committed, experienced and professional trainers who possess expertise in information and media literacy, and provision of library management and information services. All our trainers have excellent facilitation and instructional design skills to equip you with the knowledge and skills for sustainability in the fast-changing world. </p>
			
			<ol class="trainerList">
			{exp:channel:entries channel="trainers" disable="{global-disable}" dynamic="off" orderby="title" sort="asc"}			
			<li>
				<article>
				<a href="{title_permalink=about/trainers}">
					{if photo}
					{exp:imgsizer:size src="{photo}" width="121" height="169" alt="{title}"}{/exp:imgsizer:size}
					{if:else}<img src="{site_url}images/site/trainer-placeholder.jpg" alt="{title}">{/if}
				</a>
				<header><h2><a href="{title_permalink=about/trainers}">{title}</a></h2></header>
				</article>
			</li>
			{/exp:channel:entries}
			</ol>
			
			</article>
		{/if}
		
	{/exp:ifelse}
	


</div>

<aside id="Sidebar">

	{embed="about/menu"}	
	
	{testimonial-module}
	
</aside>


{embed="inc/footer"}