{preload_replace:channel="course"}
{embed="inc/header" {if segment_3}url_title="{segment_4}" {if:else}category_title="{if segment_2}{segment_2}{if:else}{segment_1}{/if}"{/if}}

<div id="LeftContent">
	
	{embed="inc/print-icon"}
	
	<ul id="Crumbs">
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{site_url}" itemprop="url"><span itemprop="title">Home</span></a></li>
		<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}" itemprop="url"><span itemprop="title">{segment_1_category_name}</span></a></li>
		{if segment_2}
			<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}/{segment_2}" itemprop="url"><span itemprop="title">{segment_2_category_name}</span></a></li>
		{/if}
	</ul>
	
	<section>

	<header><h1>{segment_1_category_name}</h1></header>

	{exp:nlbaformat:full}{segment_1_category_description}{/exp:nlbaformat:full}
	
	<p>{exp:imgsizer:size src="{segment_1_category_image}" width="580" alt="{segment_1_category_name}"}{/exp:imgsizer:size}</p>

	<ul class="accordion">	
		{exp:query sql="SELECT DISTINCT A.title, A.url_title, A.entry_id as target_entry_id FROM exp_channel_titles A, exp_category_posts B where channel_id=4 and A.entry_id=B.entry_id and B.cat_id=20 and A.entry_id NOT IN (SELECT C.entry_id from exp_category_posts C WHERE cat_id IN (29)) ORDER BY A.title ASC"}
			<li>
				<article>
					<header><h2><a href="{path={segment_1}/view}/{url_title}">{title}</a></h2></header>
				<div class="content">
					{embed="library-professionals/getcourse" entry_id="{target_entry_id}"}
					<a href="{path={segment_1}/view}/{url_title}" title="Read more about {title}">Read more</a>
				</div>
				</article>
			</li>
		{/exp:query}
		{exp:query sql="SELECT cat_id, cat_name, cat_url_title, cat_description, cat_image FROM exp_categories WHERE parent_id ='{segment_1_category_id}'"}
			<li>
				<article>
				<header><h2><a href="{path={segment_1}/{cat_url_title}}">{cat_name}</a></h2></header>
				<div class="content">
					{exp:imgsizer:size src="{cat_image}" width="218" alt="{cat_name}"}{/exp:imgsizer:size}
					<p>{cat_description}</p>
					<a href="{path={segment_1}/{cat_url_title}}" title="Read more about {cat_name}">Read more</a>
				</div>
				</article>
			</li>
		{/exp:query}
	</ul>	

	</section>

</div>

<aside id="Sidebar">
	
	{embed="inc/sidebar"}	
	
</aside>

{embed="inc/footer"}