{preload_replace:channel="course"}

{exp:ifelse parse="inward"}{if segment_3}

		{exp:channel:entries channel="{channel}" disable="{global-disable}" limit="1" url_title="{segment_4}" status="not Closed"} 						 	
		
		{embed="inc/header" title="{title}" description="{exp:eehive_hacksaw chars="500" allow="<br>"}{course-summary}{/exp:eehive_hacksaw}"}
		
		<div id="LeftContent">

			{embed="inc/print-icon"}
			
			<ul id="Crumbs">
				<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{site_url}" itemprop="url"><span itemprop="title">Home</span></a></li>
				<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}" itemprop="url"><span itemprop="title">{segment_1_category_name}</span></a></li>
				<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}/{segment_2}" itemprop="url"><span itemprop="title">{segment_2_category_name}</span></a></li>
				<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}/{segment_2}/{segment_3}" itemprop="url"><span itemprop="title">{title}</span></a></li>
			</ul>
			

				<h1>{title}</h1>

				{course-summary}

				{course-body}

				{if no_results}
					{redirect="404"}
				{/if}

				</div>
				<!-- / LeftContent -->

				<aside id="Sidebar">


						{course-details}

						{testimonial-module}

						{related-courses}

				</aside>

			{/exp:channel:entries}


		{if:else}
		
		{embed="inc/header" category_title="{segment_2}"}
		
		<div id="LeftContent">

			{embed="inc/print-icon"}

			<ul id="Crumbs">
				<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{site_url}" itemprop="url"><span itemprop="title">Home</span></a></li>
				<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}" itemprop="url"><span itemprop="title">{segment_1_category_name}</span></a></li>
				<li itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}/{segment_2}" itemprop="url"><span itemprop="title">{segment_2_category_name}</span></a></li>
			</ul>
			

			<h1>{segment_2_category_name}</h1>

			{exp:nlbaformat:full}{segment_2_category_description}{/exp:nlbaformat:full}

			<ul class="courseresults">					
			{exp:channel:entries channel="{channel}" disable="{global-disable}" dynamic="off" category="{segment_2_category_id}" status="not Closed"}
				<li>
					<h2><a href="{title_permalink={segment_1}/{segment_2}/view}">{title}</a></h2>
						{course-summary}
				</li>
			{/exp:channel:entries}
			</ul>

			</div>
			<!-- / LeftContent -->

			<aside id="Sidebar">

				{embed="inc/sidebar"}				

			</aside>

		{/if}

	{/exp:ifelse}
	

{embed="inc/footer"}