<!doctype html>  
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {exp:seo_lite url_title="{embed:url_title}" default_title="{embed:title}" default_keywords="{embed:keywords}" default_description="{embed:description}" category_title="{embed:category_title}"}  
  <meta name="viewport" content="width=960">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="{site_url}css/style.css?v=2">
	<link rel="stylesheet/less" href="{site_url}css/nlba.less" media="all">
	<script src="{site_url}js/less-1.0.41.min.js"></script>
  <script src="{site_url}js/libs/modernizr-1.6.min.js"></script>
</head>
<body class="print">
{exp:channel:entries channel="news|course|pages" limit="1" entry_id="{segment_3}"}
	<h1>{title}</h1>
	{{segment_2}-body}
	
	{exp:eei_tcpdf:params cache="y"	language="eng"	title="{title}"	author="National Library Board Academy" font-family="arialunicid0" keywords="nlba"}
	
{/exp:channel:entries}
</body>
</html>